@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,700;1,600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

.header_area {
    background-color: rgba(255, 144, 14, 0.1);
    height: 850px;
    max-width: 100%;
}

.navebar_area {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 0px 100px;
}

.navebar_area li {
    list-style: none;
}

.navbar_left {
    font-family: 'Work Sans';
    font-weight: 700;
    color: rgba(66, 66, 66, 1);
    font-size: 25px;
    font-style: Bold;
}

.navbar_right {
    display: flex;
    gap: 20px;
    font-family: 'Work Sans';
    font-size: 16px;
    color: #424242;
}

.bar_icon {
    display: none;
}

/* Banner Sectiopns */
.banner_description {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.artchitects_title {
    font-family: 'Work Sans';
    color: #131313;
    font-size: 50px;
    font-weight: bold;
}

.artchitects_description {
    font-family: 'Work Sans';
    color: #727272;
    font-size: 16px;
}

.artchitects_btn {
    padding: 15px 20px;
    border: none;
    background-color:
        rgba(255, 144, 14, 1);
    color: #FFFFFF;
    margin-top: 20px;
}

.banner_img {
    width: 70%;
    margin: 0 auto;

}

.banner_img img {
    max-width: 100%;
}

/* Quick Feature section styles */
.quick_feature {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.quick_img_sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 15px;
}

.quick_img_sections img {
    max-width: 100%;
}

.quick_description_section {
    width: 50%;
}

.quick_title {
    font-family: 'Work Sans';
    font-size: 35px;
}

.quick_list {
    color: rgba(114, 114, 114, 1);
}

.feature {
    color: rgba(255, 144, 14, 1);
    font-size: 30px;
}

.quick_description {
    font-family: 'Work Sans';
    color: #727272;
    font-size: 16px;
}

.quick_btn {
    color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
}

/* Love Section styles */
.love_section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 100px;
}

.love_description_section {
    width: 50%;
}

.love_title {
    color: rgba(19, 19, 19, 1);
    font-family: 'Work Sans';
    font-size: 35px;
    border-left: 2px solid #FF900E;
    padding-left: 10px;
    border-radius: 2px;
}

.love_description {
    color: #727272;
    font-family: 'Work Sans';
    font-size: 16px;
}

.version_container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.06);
    padding: 5px;
    margin-bottom: 25px;
    width: 90%;

}

.version_container p {
    font-family: 'Work Sans';
    font-size: 16px;
    color: #727272;


}

.big_title {
    font-family: 'Work Sans';
    color: rgba(19, 19, 19, 1);
    font-weight: bolder;
    font-size: 18px;


}

.love_img {
    width: 50%;
    position: relative;
}

.love_img img {
    width: 100%;
    position: relative;
}

.ten_year_btn {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    background-color: #FF900E;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    bottom: -8px;

}

.btn_ex {
    font-size: 16px;
}

/* Some facts Sections */
.some_facts_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.some_facts_container h2 {
    font-family: 'Work Sans';
    font-size: 30px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.some_facts_container>p {
    font-family: 'Work Sans';
    color: #727272;
    font-size: 18px;
    margin-bottom: 30px;
}

.some_facts_detail_area {
    display: flex;
    justify-content: space-between;

}

.some_facts_description .count_digit {
    font-family: 'Work Sans';
    color: #424242;
    font-size: 20px;

}

.some_facts_description .title {
    font-family: 'Work Sans';
    color: #727272;
    font-size: 15px;

}

.some_facts_description {
    border: 2px solid #FF900E;
    text-align: center;
    padding: 20px;
    width: 190px;
    height: 170px;
    border-radius: 5px;
}

/* Sponspors sections */
.sponspors_container{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
   
}
.sponspors_details{
    text-align: center;
}
.sponspors_title{
    font-family: 'Work Sans';
    color: #131313;
    font-size: 35px;
   
}
.sponspors_des{
    font-family: 'Work Sans';
    color: #727272;
    font-size: 16px;
}
.sponspors_logo{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.sponspors_logo img{
    width: 120px;
}

/* Style footer Section */
footer{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background:#FFF4E7;
    padding: 20px 0px;
    margin-bottom: 30px;
}
footer p{
    color: rgba(66, 66, 66, 1);
    font-size: 16px;
}
   




/* Responsive area */
@media screen and (max-width:576px) {
    .header_area {
        height: 470px;
    }

    .navebar_area {
        padding: 20px;
    }

    .header_area {
        width: 100%;
    }

    .bar_icon {
        display: block;
        font-size: 35px;
    }

    .navbar_right {
        flex-direction: column;
        gap: 10px;
        font-family: 'Work Sans';
        font-size: 16px;
        color: #424242;
    }

    /* Banner section responsive */
    .bannaer_sections {
        width: 100%;

    }

    .banner_description {
        max-width: 100%;
    }

    .artchitects_title {
        font-size: 30px;

    }

    .artchitects_description {
        font-size: 10px;
        padding: 5px;
    }

    .artchitects_btn {
        padding: 10px 10px;
        margin-top: 5px;
    }

    .banner_img {
        width: 80%;
    }

    /* Quick Feature Ewsponsive */
    .quick_feature {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-top: 140px;
    }

    .quick_img_sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        gap: 20px;
    }

    .quick_description_section {
        width: 80%;
    }

    .quick_title {
        font-size: 30px;
    }

    .quick_btn {
        padding: 10px 15px;
        border-radius: 5px;
    }

    .love_section {
        width: 100%;
        gap: 40px;
        flex-direction: column;
        margin-top: 40px;

    }

    .love_description_section {
        width: 90%;
        margin: 0 auto;
    }

    .version_container {

        margin-bottom: 25px;
        width: 100%;

    }

    .love_img {
        width: 80%;
        margin: 0 auto;

    }

    .ten_year_btn {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        position: absolute;
        left: -30px;
        bottom: -8px;

    }

    /* some facts responsive */
    .some_facts_container {
        width: 90%;
    }

    .some_facts_detail_area {

        flex-direction: column;
        gap: 50px;

    }

    .some_facts_description {
        padding: 20px;
        width: 80%;
        height: 170px;
        margin: 0 auto;

    }
    
/* responsive Sponspors sections */
.sponspors_container{
   display: none;
}

/* footer responsive */
footer{
    width: 95%;
}
footer p{
    font-size: 12px;
}




}